h1{
    color:blueviolet;
    background-color:ghostwhite ;
}
p{
    color:darkslateblue;
    background-color:lightcyan;
}
h3{
    color:darkslategray;
    background-color:lightyellow;   
}
h4{
    color:darkolivegreen;
    background-color:lightpink;
}   