h1{
    color:deepskyblue;
    font-style:normal;
    background-color:black;
}
.container {
    background-color: #f0f0f0;
    position: relative;
    text-align: right;
}
p{
    overflow: hidden;
}
img {
  float: left;
  margin-right: 10px;
}
body{
    background-color: aquamarine;
}
